@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


@theme {
  --color-primary: #060d26;
  --font-Rubik: "Rubik", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --font-Outfit: "Outfit", sans-serif;
  --background-image-hero: url("/hero.jpg");
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer components {
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .font-thin {
    font-weight: 300;
  }
  .rounds {
    @apply p-2 rounded-full shadow-md hover:bg-primary hover:text-white transition-colors duration-300;
  }
}
